[build.environment]
  NODE_VERSION = "14"
  NPM_FLAGS = "--prefix=/dev/null"
  NODE_OPTIONS = "--max_old_space_size=4096"


[build]
  command = "npx pnpm@6.21.0 i --store=node_modules/.pnpm-store && npx pnpm@6.21.0 run build"
  functions = "built-lambda-server"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express"]